* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

/* HEADER NAV */


/* SECTIONS */
main {
    width: 100%;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}